body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  color: #e3e3e3;
}

a {
  text-decoration: none;
}

.text-orange {
  color: #ff6600;
}

.button {
  border-radius: 4px;
  padding: 12px 24px;
}

.button-orange {
  background: #ff6600;
  border: 1px solid #ff6600;
  color: white;
}

.button-orange:hover {
  background: white;
  border: 1px solid #ff6600;
  color: #ff6600;
  text-decoration: none;
}

.button-green {
  background: lime;
  border: 1px solid lime;
  color: white;
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 36, 36, 0.9)), to(rgba(36, 36, 36, 0.6))), url("../img/bg.jpg") no-repeat;
  background: linear-gradient(to bottom, rgba(36, 36, 36, 0.9), rgba(36, 36, 36, 0.6)), url("../img/bg.jpg") no-repeat;
  background-position: center;
  background-size: auto;
  height: 630px;
  width: 100%;
}

.header .navbar {
  background: rgba(0, 0, 0, 0.5);
}

.header .navigation {
  background: white;
  color: white;
  position: fixed;
  z-index: 10;
  height: 100vh;
  padding: 10px 20px;
  top: 0;
  left: 0;
  width: 50%;
}

.header .navigation .nav-link {
  color: white;
}

.header .navbar .navbar-toggler {
  border: none;
  outline: 1px solid #ff6600;
}

.header .navbar .navbar-toggler:hover {
  border: 1px solid white;
  border-radius: 0;
  outline: none;
}

.header .navbar .navbar-toggler:active {
  border: 1px solid #ff6600;
  outline: none;
}

.navbar-nav {
  color: #fff;
}

.navbar .navbar-toggler:active {
  border: none;
  color: #fff;
}

.feature--title {
  color: #ff6600;
}

.feature .card {
  background: none;
}

.feature .card-footer {
  background: none;
  border: none;
  border-radius: none;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.story-feature {
  background: #111f2a;
}

.story .card-img-overlay {
  background: rgba(255, 102, 0, 0.4);
}

.story .card-img-overlay-text {
  bottom: 25px;
  color: white;
  position: absolute;
}

.story .list-group-item {
  background: none;
  border-bottom-color: white;
  color: white;
}

.explore .explore--title {
  color: #fff;
  font-weight: 550;
  text-transform: uppercase;
  text-align: center;
}

.explore .card .card-img-overlay {
  background: -webkit-gradient(linear, left top, right top, from(rgba(110, 109, 109, 0.6)), to(rgba(110, 109, 109, 0.6)));
  background: linear-gradient(to right, rgba(110, 109, 109, 0.6), rgba(110, 109, 109, 0.6));
  border-radius: 8px;
  color: #666;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.explore .card .card-img-overlay:hover {
  color: #666;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.explore ul.explore--links {
  display: none;
}

.explore .card:hover ul.explore--links {
  background: none;
  border: none;
  display: block;
  position: absolute;
  left: 15px;
  top: 65px;
}

.explore .card .explore--overlay:hover {
  background: #fff;
  border: 2px solid #948f8c;
  border-radius: 8px;
  cursor: pointer;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.explore .list-group-item {
  border-bottom: none;
  color: #666;
  padding: 6px 20px 6px 0;
}

.explore .card:hover .explore--title {
  color: #ff6600;
  position: absolute;
  left: 15px;
  text-align: left;
  top: 15px;
}

.footer--social a {
  color: black;
  padding: 0 8px;
  text-decoration: none;
}

.footer--social a:hover {
  color: #ff6600;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */