$orange: rgb(255, 102, 0);
$green: rgb(0, 255, 0);
$black: rgb(0,0,0);
$white: rgb(255,255,255);


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    color: rgb(227, 227, 227);
}

a {
    text-decoration: none;
}

.button {
    border-radius: 4px;
    padding: 12px 24px;
}

.button-orange {
    background: $orange;
    border: 1px solid $orange;
    color: $white;
    
}

.button-orange:hover {
    background: $white;
    border: 1px solid $orange;
    color: $orange;
    text-decoration: none;
}

.button-green {
    background: $green;
    border: 1px solid $green;
    color: $white;
}

.header {
    background: linear-gradient(to bottom, rgba(36, 36, 36, 0.9), rgba(36, 36, 36, 0.6)), url("../img/bg.jpg") no-repeat;
    background-position: center;
    background-size: auto;
    height: 650px;
    width: 100%;
  }

.header .navbar {
    color: #fff;
}

.navbar .navbar-toggler {
    border: none;
    color: #fff;
}


.feature {

    &--title {
        color: $orange;
    }

    .card {
        background: none;
    }

    .card-footer{
        background: none;
        border: none;
        border-radius: none;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
    }
}


.story {

    &-feature {
        background: rgb(17, 31, 42);
    }

    .card-img-overlay {
        background: rgba(255, 102, 0, 0.4);
    }

    .card-img-overlay-text {
        bottom: 25px;
        color: $white;
        position: absolute;
        
    }


    .list-group-item {
        background: none;
        border-bottom-color: $white;
        color: $white;
    }
}

.explore {

    .explore--title {
        color: #fff;
        font-weight: 550;
        text-transform: uppercase;
        text-align: center;
    }
    
    .card .card-img-overlay {
        background: linear-gradient(to right, rgba(110, 109, 109, 0.6), rgba(110, 109, 109, 0.6));
        border-radius: 8px;
        color: #666;
        align-items: start;
    }

    .card .card-img-overlay:hover {
        color: #666;
        align-items: start;
    }

    ul.explore--links {
        display: none;
    }
    
    .card:hover ul.explore--links {
        background: none;
        border: none;
        display: block;
        position: absolute;
        left: 15px;
        top: 65px;
    }

    .card .explore--overlay:hover {
        background: #fff;
        border: 2px solid rgb(148, 143, 140);
        border-radius: 8px;
        cursor: pointer;
        align-items: start;
    }

    .list-group-item {
        border-bottom: none;
        color: #666;
        padding: 6px 20px 6px 0;
    }

    .card:hover .explore--title {
        color: rgb(255, 102, 0);
        position: absolute;
        left: 15px;
        text-align: left;
        top: 15px;
    }
    
}

.footer {

    &--social a {
        color: $black;
        padding: 0 8px;
        text-decoration: none;
    }

    &--social a:hover {
        color: $orange;
        text-decoration: none;
    }
}